<html>
  <body>
    <h1>Search Player</h1>
    <form method="POST" action="/">
      <input type="hidden" name="name" value="yes">
      Player Name :
      <input type="text" name="search">
      <input type="submit" value="Search">
    </form>

    
    <form method="POST" action="/">
      Player  height gratter then:
      <input type="hidden" name="height" value="yes">
      <input type="text" name="search">
      <input type="submit" value="Search">
    </form>

    <form method="POST" action="/">
      Player  weight gratter then:
      <input type="hidden" name="weight" value="yes">
      <input type="text" name="search">
      <input type="submit" value="Search">
    </form>

     

    <h1>Players Info</h1>
    <form action="./csv" method="POST">
      <input type="hidden" name="search_term" value="{{search_term}}"/>
      <input type="hidden" name="search_value" value="{{search_value}}"/>
      
      <input type="submit" value="Download csv"/>
    </form>
    <form action="./json" method="POST">
      <input type="hidden" name="search_term" value="{{search_term}}"/>
      <input type="hidden" name="search_value" value="{{search_value}}"/>
      <input type="submit" value="Download json"/>
    </form>

    <table>
      <thead>
        <tr>
          <th>
             Player Name 
          </th>
          <th>
            Date Of Birth
          </th>
        </tr>  
      </thead>  
      {% for player in players %}
        <tr>
          <td>
            {{player.name}}
          </td>
          <td>
            {{player.dob}}
          </td>
          <td>
            <form method="GET" action="./more" style="display: inline">
              <input type="hidden" value="{{player.id}}" name="player_id">
              <input type="submit" value="more info">
            </form>
          </td>
          <td>
            <form method="GET" action="./update" style="display: inline">
              <input type="hidden" value="{{player.id}}" name="player_id">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{player.id}}" name="player_id">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>