<html>
    <body>
        <h1> Update Player Info : <i>{{player.name}}</i> </h1>
        <hr>
        <img src="{{player.image_link}}" alt="{{player.name}} no image"/>
        <div>
        <input type="hidden" value="{{player.id}}" name="player_id">
        Player Name         : {{player.name}}<br>
        Player DOB          : {{player.dob}}<br>
        Player Height       : {{player.height}}<br>
        Player Weight       : {{player.weight}}<br>
        Player Position     : {{player.position}}<br>
        Player Place        : {{player.place}}<br>
        </div>

    </body>
</html>